@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

a:hover,
span:hover
li:hover{
    color: hsl(0, 0%, 8%);
}

.menu{
    background: rgba(0, 0, 0, 0.5);
}

span, li{
    color: hsl(0, 0%, 41%);
}
